<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Formulario JSF</title>
    </h:head>
    <h:body>
            <h:form>
                <h:outputLabel for="nombre" value="Nombre"/>
                <h:inputText id="nombre" value="#{candidato.nombre}" />
                <h:message for="nombre" />
                <br />
                <h:commandButton action="#{vacanteForm.enviar}" value="Enviar" />
                
            </h:form>
    </h:body>
</html>

